section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconContainer {
    display: flex;
    gap: 60px;
    margin-top: 200px;
}

a>svg {
    font-size: 4rem !important;
    cursor: pointer;
}

a>svg:hover {
    transform: scale(1.2);
    color: #00fffb;
    filter: drop-shadow(0 0 4px rgb(25 202 224 / 30%));
}