@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Oxanium:wght@200;300;400&family=Press+Start+2P&display=swap');

body {
    background: black;
    width: 100vw;
}

.App {
    width: 100vw;
}

#root {
    height: 100%;
}

body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}