.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.links {
    list-style: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.logo-abr {
    max-width: 60px;
    cursor: pointer;
}

#checkbox {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }

    .menu:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li:hover {
        display: inline-block;
    }

    #checkbox:checked ~ .menu {
        display: block;
    }

    .hamburger{
        display: block;
    }
}