.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.links {
    list-style: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 24px;
}

.logo-abr {
    max-width: 140px;
    cursor: pointer;
}

#checkbox {
    display: none;
}

.hamburger {
    display: none;
    font-size: 32px;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 120px;
        text-align: center;
        width: 100%;
        background-color: black;
    }

    .menu:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li {
        width: 100%;
        padding: 10px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #checkbox:checked ~ .menu {
        display: block;
    }

    .hamburger{
        display: block;
    }
}