.navbar {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.heroContainer {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    cursor: pointer;
}

.titleAbr {
    text-align: center;
    color: #ed1e79;
    font-family: 'Press Start 2P';

    /*Create overlap*/

    margin: 0;
    line-height: 0;
    /*Animation*/

    animation: glitch1 2.5s infinite;
}

.titleAbr2 {
    color: #00fffb;
}

.titleAbr3:hover {
    color: #fff;
    animation: glitch3 2.5s infinite, glitch2 2.5s infinite;
}

.links {
    list-style: none;
}

.navLink:hover,
.navLink:focus {
    color: #00fffb;
    text-decoration: none;
    text-shadow: 0 0 10px rgb(25 202 224 / 50%);
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 24px;
}

.logo-abr {
    max-width: 140px;
    cursor: pointer;
}

#checkbox {
    display: none;
}

.hamburger {
    display: none;
    font-size: 32px;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 81px;
        text-align: center;
        width: calc(100% - 2px);
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);;
        z-index: 1;
        border: 1px solid #00fffb;
    }

    .navbar {
        margin-top: 20px;
        justify-content: space-around;
    }

    .menu:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li {
        width: 100%;
        padding: 10px;
    }

    .menu li:hover,
    .menu li:focus {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #checkbox:checked ~ .menu {
        display: block;
    }

    .hamburger{
        display: block;
    }
}
